.ratings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 4px; /* + 8px from default body margins */
    margin-right: 4px; /* + 8px from default body margins */
}

.ratings > * {
    flex: 1 1 273px;
    margin-left: 12px;
    margin-right: 12px;
}

.ranking {
    width:45%;
}

.results {
    width:40%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.ranking thead th:nth-child(1),
.ranking thead th:nth-child(3) {
    width: 10%;
}

.ranking thead th:nth-child(4) {
    width: 20%;
}

.results thead th:nth-child(1) {
    width: 20%;
}

th, td {
    padding: 10px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

h2, tbody td {
    text-align: center;
}

thead {
    background-color: grey;
    color: white;
    text-shadow: 1px 1px 1px black;
}

tbody tr:nth-child(odd) {
    background-color: rgb(200, 200, 200, .3);
}

.win {
    font-weight: bold;
}

.short-text {
    display: none;
}

/* small size */
@media screen and (max-width: 959px) {
    .ratings {
	margin-left: 0;
	margin-right: 0;
    }

    .ratings > * {
	margin-left: 8px;
	margin-right: 8px;
    }
}


/* xsmall size */
@media screen and (max-width: 599px) {
    .ratings > * {
	margin-left: 4px;
	margin-right: 4px;
    }

    .short-text {
	display: inline;
    }
    .long-text {
	display: none;
    }
}
