<h2>Simulation</h2>
<p class="proba">Probabilité que
  <select [ngModel]="teamA" (ngModelChange)="onChangeTeamA($event)"
          name="teamA">
    <option *ngFor="let team of teams" [ngValue]="team">
      {{team.name | uppercase}}
    </option>
  </select>
  gagne contre
  <select [ngModel]="teamB" (ngModelChange)="onChangeTeamB($event)">
    <option *ngFor="let team of teams" [ngValue]="team">
      {{team.name | uppercase}}
    </option>
  </select> :
  {{winProba}}%
</p>
<section class="ratings">
  <div class="ranking">
    <h2>Classement</h2>
    <label>
      <input type="checkbox" id="hideUnreliable" [(ngModel)]="hideUnreliable"/>
      Masquer classements incertains
    </label>
    <table class="game">
      <thead>
        <tr>
          <th class="rank">Rang</th>
          <th>Nom</th>
          <th class="score">
            <span class="short-text">SCO</span>
            <span class="long-text">Score</span>
          </th>
          <th class="ci">
            <span class="short-text">IC</span>
            <span class="long-text">IC95%</span>
          </th>
          <th class="matches">
            <span class="short-text">M.</span>
            <span class="long-text">Matchs</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams | reliableRatings: hideUnreliable; index as teamId"
            [ngClass]="team.reliable? 'reliable' : 'uncertain'">
          <td>{{ teamId + 1 }}</td>
          <td><a [title]="team.name + ' details'"
                 [routerLink]="['team', teamId]">{{ team.name | uppercase}}</a>
          </td>
          <td>{{ team.ratings[team.ratings.length - 1][1] }}</td>
          <td>&plusmn;{{ ci95(team.ratings[team.ratings.length - 1][2]) }}</td>
          <td>{{ team.results.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="results">
    <h2>Derniers résultats</h2>
    <table class="game">
      <thead>
        <tr>
          <th class="date">Date</th>
          <th>Équipe A</th>
          <th>Équipe B</th>
        </tr>
      </thead>
      <tbody>
        <tr class="game" *ngFor="let game of games | slice:0:41">
          <td>
            {{ game.day | date:"d/M/yy" }}
          </td>
          <td>
            <span [ngClass]="game.win? 'win' : 'lost'">{{ game.teamA }}</span>
          </td>
          <td>
            <span [ngClass]="!game.win? 'win' : 'lost'">{{ game.teamB }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
