<section class="ratings">
  <div class="ranking">
    <h2>Classement</h2>
    <input type="checkbox" id="showUnreliable" name="showUnreliable"/>
    <label for="showUnreliable">Afficher classements incertains</label>
    <table class="game">
      <thead>
	<tr>
	  <th>Rang</th>
	  <th>Nom</th>
	  <th>
	    <span class="short-text">SCO</span>
	    <span class="long-text">Score</span>
	  </th>
	  <th>
	    <span class="short-text">M.</span>
	    <span class="long-text">Matchs</span>
	  </th>
	</tr>
      </thead>
      <tbody>
	<tr *ngFor="let team of ratings | async; index as teamId"
	    [ngClass]="team.games > 9? 'reliable' : 'uncertain'">
	  <td>{{ team.rank }}</td>
	  <td><a [title]="team.name + ' details'"
		 [routerLink]="['team', teamId]">{{ team.name | uppercase}}</a>
	  </td>
	  <td>{{ team.elo }}</td>
	  <td>{{ team.games }}</td>
	</tr>
      </tbody>
    </table>
  </div>
  <div class="results">
    <h2>Derniers résultats</h2>
    <table class="game">
      <thead>
	<tr>
	  <th>Date</th>
	  <th>Équipe A</th>
	  <th>Équipe B</th>
	</tr>
      </thead>
      <tbody>
	<tr class="game" *ngFor="let game of games | slice:0:41">
	  <td>
	    {{ game.day | date:"d/M/yy" }}
	  </td>
	  <td>
	    <span [ngClass]="game.win? 'win' : 'lost'">{{ game.teamA }}</span>
	    <!-- <strong *ngIf="game.win; else lost">{{ game.teamA }}</strong> -->
	    <!-- <ng-template #lost>{{ game.teamA }}</ng-template> -->
	  </td>
	  <td>
	    <span [ngClass]="!game.win? 'win' : 'lost'">{{ game.teamB }}</span>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</section>
