table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 10%;
}

th, td {
    padding: 10px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

h2, tbody td {
    text-align: center;
}

thead {
    background-color: grey;
    color: white;
    text-shadow: 1px 1px 1px black;
}

tbody tr:nth-child(odd) {
    background-color: rgb(200, 200, 200, .3);
}

.win {
    font-weight: bold;
}
