.team {
    margin-left: 16px; /* + 8px from default body margins */
    margin-right: 16px; /* + 8px from default body margins */
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 15%;
}

th, td {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

h2, tbody td {
    text-align: center;
}

thead {
    background-color: grey;
    color: white;
    text-shadow: 1px 1px 1px black;
}

tbody tr:nth-child(odd) {
    background-color: rgb(200, 200, 200, .3);
}

.win {
    font-weight: bold;
}

.short-text {
    display: none;
}

/* small size */
@media screen and (max-width: 959px) {
    .team {
	margin-left: 8px; /* + 8px from default body margins */
	margin-right: 8px; /* + 8px from default body margins */
    }
}

/* xsmall size */
@media screen and (max-width: 599px) {
    .team {
	margin-left: 8px; /* + 0px from default body margins */
	margin-right: 8px; /* + 0px from default body margins */
    }

    .short-text {
	display: inline;
    }
    .long-text {
	display: none;
    }
}
